@tailwind base;
@tailwind components;
@tailwind utilities;



body {
 font-family: 'Poppins', sans-serif;
 color: #333333;
}
.hero{
  height: var(--app-height);
}

h1,h2,h3,h4,h5,h6{
  font-family: 'Gabarito', cursive;
}

h1{
  @apply text-[56px];
  
}

h2{
  @apply text-[42px];
}

h3{
  @apply text-4xl;
}

h4{
  @apply text-2xl;
}

h5{
  @apply text-base;
}

h6{
  @apply text-sm;
}





// btn
.btn,
.btn-cta {
  @apply text-black font-medium text-sm list-none py-3 px-5 bg-primary rounded-md inline-block transform transition-all duration-300;
  &:hover {
    @apply bg-primary/80;
  }
  &.btn-secondary {
    @apply bg-secondary text-primary;
    &:hover {
      @apply bg-secondary/80;
    }
  }
}

.animation-text{
  span{
      @apply relative;

    &::before{
      @apply content-[''] absolute w-full h-full left-0 top-0 bg-primary z-0;
    }
  }
}

// richtext
.richtext {
  > p {
    @apply text-sm sm:text-base;
    &:not(:first-child) {
      @apply mt-5;
    }
  }
  .list-dots {
  @apply space-y-3 sm:space-y-4;
  li {
    @apply relative pl-3 text-sm leading-tight font-medium;
    &:before {
      @apply absolute content-[""] w-1 h-1 bg-primary left-0 top-[7px] rounded-full;
    }
  }
  &.dots-secondary {
    li {
      &:before {
        @apply bg-secondary;
      }
    }
  }
  }

}

.line-heading::before{
  background-image: url('/public/Images/background/Icoon_Wave.png');
   @apply content-['']  bg-no-repeat bg-center bg-contain absolute left-1/2 transform -translate-x-1/2 top-5 w-40  h-full;    
}

.hero-slider .slick-list{
  @apply h-full ;
  }