@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Montserrat", sans-serif;
  // font-family: "Heebo";
}

// btn
.btn,
.btn-cta {
  @apply text-white font-medium text-sm list-none py-3 px-5 bg-primary rounded-md inline-block transform transition-all duration-300;
}

.btn:hover,
.btn-cta:hover {
  @apply bg-primary/80;
}

// richtext
.richtext > *:not(:first-child) {
  @apply mt-5;
}
.richtext p {
  @apply text-base;
}

.richtext ul > li {
  position: relative;
  // padding-left: 5px;
  // padding-left: 20px;
  @apply relative pl-5;
}
.richtext ul > li:before {
  @apply absolute content-[""] w-1.5 h-1.5 bg-primary left-0 top-1/2 -translate-y-1/2;
}

// accordian
.accordian-button {
  &.show {
    .accordian-icon {
      @apply rotate-90;
    }
  }
}

.accordian-item {
  &.show {
    .accordian-icon {
      @apply rotate-90;
    }
  }
}

// scroll y none
.scroll-y-none::-webkit-scrollbar {
  display: none;
}

// tab
.tabs-nav {
  > li {
    &.active {
      a {
        @apply border-primary;
      }
    }
  }
}

.hero-v2::before{
  content: '';
  background: linear-gradient(90deg, rgba(61,13,17,1) 50%, rgba(0,0,0,0.20772058823529416) 100%);
}

.hero-v2{
  background-image: url('https://img.freepik.com/free-photo/two-young-businesswomen-working-with-laptop-her-office_1301-6822.jpg?w=1060&t=st=1695633224~exp=1695633824~hmac=8b31470f4c61830bb38683652fd82e1ab4ddb3213add4846f20894a93114c767');
  
  
}
