@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Figtree' , sans-serif;
}

h1,h2,h3,h4,h5,h6{
  font-family: 'Urbanist', sans-serif;
}



.line-heading::before{
  background-image: url('/public/Images/background/Icoon_Wave.png');
   @apply content-[''] bg-no-repeat bg-center bg-contain absolute left-1/2 transform -translate-x-1/2 top-5 w-40  h-full;    
}