.menu-content.open {
    transform: translate(0);
}

.menu {
    li.menu-open {
        .sub-menu {
            max-height: 500px;
        }
    }
}

.menu {
    li.menu-open {
        .menu-icon {



            transform: rotate(180deg);
        }
    }
}