.fixed-header-hero {
  @apply h-[var(--app-height)];
}

.hero {
  .hero-slider {
    &:not(.slick-initialized) {
      @apply flex;
    }
    .hero-img {
      @apply relative;

      &::before {
        @apply content-[''] absolute left-0 top-0 w-full h-full bg-black opacity-50 z-0;
      }
    }
    [class*="slick-"] {
      @apply h-full;

      .hero-video iframe {
        @apply min-w-full min-h-full absolute left-0 top-0;
      }

      .slick-active .slide-box {
        transform: translateX(0);
        opacity: 1;
      }

      .container {
        overflow: hidden;
      }

      .slide-box {
        transform: translateX(calc(100% + 12px));
        opacity: 0;
        transition-delay: 500ms;
      }
    }
  }
}

.hero-v3 {
  .hero-slider-v2 {
    &:not(.slick-initialized) {
      @apply flex;
    }
    .hero-img {
      @apply relative;

      &::before {
        @apply content-[''] absolute left-0 top-0 w-full h-full bg-black/50 z-0;
      }
    }
    .richtext {
      @apply sm:text-[16px];
    }
    [class*="slick-"] {
      @apply h-full;

      .hero-video iframe {
        @apply min-w-full min-h-full absolute left-0 top-0;
      }

      .slick-active .slide-box {
        @apply opacity-100 translate-x-0;
      }

      .container {
        @apply overflow-hidden;
      }

      .slide-box {
        @apply delay-500 opacity-0 translate-x-[calc(100%+12px)];
      }
    }
    .btn-secondary {
      @apply text-black;
    }

    .slick-arrow {
      @apply absolute top-1/2 -translate-y-1/2 w-12 h-12 bg-secondary z-40 rounded-full;

      &.slick-next {
        @apply right-6 text-transparent;

        &::before {
          @apply content-[''] absolute bg-[url('../images/hero/icon/next.svg')] bg-no-repeat bg-cover bg-center left-1/2 top-1/2 transform -translate-x-1/2 -translate-y-1/2 w-8 h-8;
        }
      }

      &.slick-prev {
        @apply left-6 text-transparent;

        &::before {
          @apply content-[''] absolute bg-[url('../images/hero/icon/prev.svg')] bg-no-repeat bg-cover bg-center left-1/2 top-1/2 transform -translate-x-1/2 -translate-y-1/2 w-8 h-8;
        }
      }
    }
  }
}
