// Puja testimonial Section
.testimonial-slider-v2 {
  .slick-list {
    padding: 0 !important;
  }

  .testimonial-slider-image {
    .slick-list .slick-track {
      @apply flex justify-center gap-5;
      .slick-center > div {
        @apply border-2 border-solid border-secondary filter-none;
      }
    }
  }

  .testimonial-slider-content {
    .testimonial-content {
      &::before {
        @apply content-[''] absolute top-1/2 left-1/2 w-full h-full opacity-5  transform -translate-x-1/2 -translate-y-1/2;
        background-image: url("../images/testimonials/quote-1.svg"),
          url("../images/testimonials/quote-2.svg");
        background-position: 20% 20%, 80% 80%;
      }
    }
  }
}

.testimonial-slider-v3 {
  .testimonial-card-slider {
    .slick-list {
      padding: 0 !important;
    }
    .slick-slide {
      @apply scale-90;
      @apply flex flex-col bg-white items-center leading-tight rounded-xl transition-all duration-500 ease-in-out relative;
      &.slick-active.slick-center {
        @apply scale-100;
      }
      .richtext {
        &:before {
          @apply bg-[20%_20%];
        }
      }
    }
    &.slick-dots-hidden {
      .slick-dots {
        display: none !important;
      }
    }
    .slick-dots {
      @apply flex absolute bottom-[-60px] text-center left-1/2 transform -translate-x-1/2 p-0 m-0;
      li {
        @apply mx-1 w-4 h-4 border border-solid border-black rounded-full shrink-0;
        &:before {
          @apply content-[''] absolute rounded-full top-1/2 left-1/2 w-[10px] h-[10px] bg-black opacity-0 transform -translate-x-1/2 -translate-y-1/2;
        }
        button {
          @apply hidden;
        }
        &.slick-active {
          @apply relative;
          &:before {
            @apply opacity-100;
          }
        }
      }
    }
  }
}
